/* Landing Component */
.landing-title{
  
}
.landing-button-container {
  margin-bottom: 1.75em;
}

.landing-button {
  font-family: "Avenir Next";
  border: none;
  cursor: pointer;
}

.landing-button:focus {
  outline: none;
}

.landing-button:hover {
  border-bottom: 1px solid;
  transition: all .3s;
}

.landing-container {
  margin-left: 67px;
}

h2.landing-text {
  line-height: 3.5rem;
  font-size: 3rem;
  font-weight: 400;
}

.landing-bg {
  position: fixed;
  left: 450px;
  width: 121rem;
}

.outer-container {
  display: inline-flex;
}

/* Login Component */
body {
  font-family: "Avenir Next"
}

.form-container {
  display: table-caption;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.form-item {
  display: inline-grid;
  padding-bottom: .5rem;
}

input.landing-input {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  border: 0.6px solid black;
  font-family: Avenir Next;
}

input:focus {
  outline: none;
}