.App {
  margin-left: 20px;
}

/* Login Component */
body {
  font-family: "Avenir Next"
}

.form-container {
  display: table-caption;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.form-item {
  display: inline-grid;
  padding-bottom: .5rem;
}

input.landing-input {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  border: 0.6px solid black;
  font-family: Avenir Next;
}

input:focus {
  outline: none;
}

/* Landing Component */
.landing-button-container {
  margin-bottom: 1.75em;
}

.landing-button {
  font-family: "Avenir Next";
  border: none;
  cursor: pointer;
}

.landing-button:focus {
  outline: none;
}

.landing-button:hover {
  border-bottom: 1px solid;
  transition: all .3s;
}