/* Project Component */
.project-container {
  display: flex;
  margin: 1rem 4rem;
}

.project-header {
  display: inline-flex;
}

.project-title {
  padding-right: 4rem;
  font-weight: 600;
}

.add-list-button {
  margin-top: 24px;
  background-color: #F0F0F0;
  font-family: Avenir Next;
  font-size: .85rem;
  height: 23px;
  border-radius: 4px;
}

.add-list-button:focus {
  outline: none;
}

.member-circle {
  width: 30px;
  height: 30px;
  background-color: grey;
}

/* Project Card Component */
.project-card-container {
  width: 100%;
  background-color: #d7f2fa;
  height: 50px;
  border-radius: 5px;
  transition: all .2s ease-in;
}

.project-card-container:hover {
  background-color: #a3c2cb;
}

.project-card-link {
  text-decoration: none;
}

.project-card-text {
  padding: 15px;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

/* Dashboard Component */
.dashboard {
  display: flex;
  justify-content: space-around;
}

.dashboard-projects ul {
  list-style: none;
  padding: 0;
}

/* ProjectForm Component */

.project-form {
  display: table-caption;
}

.project-form-item {
  display: inline-grid;
  padding-bottom: .5rem;
}

input.project-form-input {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  border: 0.6px solid black;
  font-family: Avenir Next;
}

/* Modal Component */

.modal-title {

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.modal:target {
  height: 50px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.modal-button {
  width: 215px;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 400;
  border-radius: 5px;
  padding: .3rem 1rem;
  background-color: #e5e9ea;
  transition: all .2s ease-in;
}

.modal-button:hover {
  background-color: #b7b7b7;
}

button.modal-button:focus {
  outline: none;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

/* Landing Component */
.landing-title{
  font-size: 2.5em;
}
.landing-button-container {
  margin-bottom: 1.75em;
}

.landing-button {
  font-family: "Avenir Next";
  border: none;
  cursor: pointer;
}

.landing-button:focus {
  outline: none;
}

.landing-button:hover {
  border-bottom: 1px solid;
  transition: all .3s;
}

.landing-container {
  margin-left: 67px;
}

h2.landing-text {
  line-height: 3.5rem;
  font-size: 3rem;
  font-weight: 400;
}

.landing-bg {
  position: fixed;
  left: 450px;
  width: 121rem;
}

.outer-container {
  display: inline-flex;
}

/* Login Component */
body {
  font-family: "Avenir Next"
}

.form-container {
  display: table-caption;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.form-item {
  display: inline-grid;
  padding-bottom: .5rem;
}

input.landing-input {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  border: 0.6px solid black;
  font-family: Avenir Next;
}

input:focus {
  outline: none;
}

.swal2-popup.swal2-modal.swal2-show {
  background-color: #ed4545;
}

.swal2-popup.swal2-modal.success.swal2-show {
  background-color: #13d113;
}

h2#swal2-title {
  color: white;
}

/* Navbar Component */

.nav-container {
  margin: 0px;
  padding: 0px;
}

.logo {
  margin: 0px;
  padding: 15px;
  font-size: 2.5em;
  color: white;
  padding-top: .5vh;
}

.logo-container {
  padding-right: 105px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding-top: .5vh;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 25px
}

nav.menu {
  text-align: right;
  padding-right: 45px;
  display: flex;
  justify-content: space-around;
  background-color: #034862;
  box-shadow: 0px 5px 20px #454545c4;
  height: 8vh;
  max-height: 65px;
}

.burger {
  padding-top: 2.4vh;
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (min-height: 80px) {
  .navlinks li {
    font-size: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .logo {
    margin-left: 10%;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background-color: #034862;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 40%;
    padding-left: 20px;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-4px, 5px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(40deg) translate(-5px, -6px);
}
